<section class="newPost">
  <h2>Create New Blog Post</h2>

  <form class="new-post-form">
    <div>
      <label class="editTitle" for="post-title">Title</label>
      <input class="editTitleBox" type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label class="editContentTitle" for="post-text">Content</label>
      <textarea class="editContentBox" id="post-text" rows="5" name="post-text"></textarea>
    </div>
    <button class="editBtn" type="submit" class="btn">Create</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>